body {
    font-size: 18px;
    font-family: "EB Garamond", serif;
    word-break: break-word;
    max-width: 672px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}

h1 {
    font-weight: 500;
    font-size: 32px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 48px;
    }
}

.is-root-container>p:first-child:first-letter, .content-drop>p:first-child:first-letter {
    font-size: 3.15em;
    line-height: 1;
    font-weight: 700;
    margin-right: 4px;
    float: left;
    color: red;
}

p,
li {
    line-height: 1.6;
    margin: 1.6em 0;
}

li {
    padding-left: 9px;
}

ul {
    padding-left: 1em;
    margin: 1.5em 0;
    list-style: unset;
}

h2 {
    font-size: 2.8em;
    font-weight: 300;
    margin-top: 1.5em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1.5em;
    line-height: 1.2;
}

p a,
li a {
    color: #2C5F93;
    text-decoration: underline;
}

iframe {
    margin: 4em 0;
}

blockquote {
    border-left: 4px solid #D12229;
    color: #D12229;
    margin: 48px 0;
    padding-left: 24px;
}

blockquote p {
    font-size: 28px;
    font-family: "Inter Tight", sans-serif;
}

figcaption {
    text-align: center;
    opacity: 0.5;
    margin-top: 8px;
    font-family: "Inter Tight", sans-serif;
    font-size: 12px;
}